nav a { margin-right: 1em; color:white; font-family: monospace; text-decoration: solid;}

nav a.active { font-weight: bold; color:black; font-family: monospace; }

/* .App-wrapper {
  background-color: black;
} */

.Retro {
  background: linear-gradient(90deg, rgba(245, 133, 255, 0.507) 0%, rgb(109, 8, 75) 100%);
  padding: 20px;
  border: 3px solid black;
  box-shadow: 0 0 3px 5px rgb(15, 187, 255);
  font-family: monospace;
  font-size: 20px;
  text-align: center;
  color: white;
}

.Retro-custom {
  fill-opacity: inherit;
  color: rgb(20, 20, 124);
  animation: color-change 1s infinite;
}

@keyframes color-change {
  0% { color: rgb(0, 132, 255); }
  50% { color: white; }
  100% { color: rgb(45, 4, 58); }
}

.navigation-retro {
  border: 1px solid white;
  padding: 5px;
  background: rgba(255, 255, 255, 0.459);
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 3px 10px rgb(15, 187, 255);
}

.Retro-seperator {
  font-size: 20px;
  font-family: impact;
}

.emoji {
  font-size: 15px;
}