nav a { margin-right: 1em; color:white; font-family: monospace; text-decoration: solid;}

nav a.active { font-weight: bold; color:black; font-family: monospace; }

.Retro {
  background: linear-gradient(90deg, rgba(255, 235, 209, 0.507) 0%, rgb(59, 58, 52) 100%);
  padding: 20px;
  border: 3px solid black;
  box-shadow: 0 0 1px 3px rgb(185, 225, 241);
  font-family: monospace;
  font-size: 20px;
  text-align: center;
  color: white;
}

.Retro-custom {
  fill-opacity: inherit;
  color: white;
}

.navigation-retro {
  border: 1px solid white;
  padding: 5px;
  background: rgba(255, 255, 255, 0.459);
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 2px 3px rgb(178, 219, 235);
}

.Retro-seperator {
  font-size: 20px;
  font-family: impact;
}

.emoji {
  font-size: 15px;
}