.home-c {
  border: 2px solid black;
  background: linear-gradient(90deg, rgba(245, 133, 255, 0.507) 0%, rgb(109, 8, 75) 100%);
  padding: 10px;
  color: white;
  box-shadow: 0 0 3px 1px rgb(15, 187, 255);
  font-family: fantasy;
}

main {
  padding: 20px;
}