.NewPostForm {
  margin-top: 2em;
  padding-top: 1em;
  border-top: solid 1px gray;
  box-shadow: 0 0 3px 1px rgb(15, 187, 255);
}

.Post-c {
  border: 5px solid black;
  background: linear-gradient(90deg, rgba(247, 247, 247, 0.507) 0%, rgba(250, 250, 250, 0.664) 600%);
  padding: 20px;
  font-family: monospace;
  font-weight: bolder;
  font-size: 15px;
  box-shadow: 0 0 3px 1px rgb(216, 239, 248);
  color: black;
}

.lineBlock {
  padding: 20px;
  margin: 20px;
}