
.Post-comments {
  margin-top: 2em;
  padding-top: 0.5em;
  border-top: solid 1px gray;
}

.Comments-wrapped {
  border: 2px solid black;
  background: linear-gradient(90deg, rgba(247, 247, 247, 0.507) 0%, rgba(250, 250, 250, 0.664) 600%);
  box-shadow: 0 0 3px 1px  rgba(250, 231, 252, 0.507);
  padding: 10px;
  color: black;
  font-family: monospace;
}

h4 {
  color:white;
  box-shadow: 0 0 3px 1px rgb(233, 213, 148);
  text-align: center;
}
