.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Title-wrapper {
  border: 2px solid black;
  background: linear-gradient(90deg, rgba(251, 209, 255, 0.507) 0%, rgb(114, 184, 126) 100%);
  padding: 10px;
  box-shadow: 0 0 3px 1px rgb(192, 230, 245);
  font-family: fantasy;
  font-weight: bolder;
}

.Title-empty {
  border: 2px solid black;
  background: linear-gradient(90deg, rgba(224, 185, 228, 0.507) 0%, rgb(112, 129, 113) 100%);
  padding: 10px;
  box-shadow: 0 0 3px 1px rgb(177, 223, 241);
  font-family: fantasy;
  font-weight: bolder;
  color: white;
}
